.banner-block {
    padding: 30px 0 !important;
    width: 90% !important;
    margin: 30px auto !important;
}


.banner-block h1 {
    font-size: 28px !important;
    margin-bottom: 20px !important;
}