.banner-block {
    background: #7fa8c2;
    border-radius: 6px;
    text-align: center;
    padding: 30px 0;
    width: 90%;
    margin: 20px auto 30px auto;
}


.banner-block h1 {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}